{
  "useTabs": false,
  "printWidth": 100,
  "tabWidth": 4,
  "singleQuote": true,
  "trailingComma": "none",
  "parser": "typescript",
  "endOfLine": "lf",
  "semi": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}